@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">



</head>


<body class="hold-transition register-page " data-spy="scroll" data-target=".onpage-navigation" data-offset="60 ">


        <div class="register-box ">


            <div class="card">
                <div class="card-body register-card-body">
                    <p class="login-box-msg">What type of user are you?</p>


                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                        <div asp-validation-summary="All" class="text-danger"></div>


                        <div class="offset-md-2 d-flex ">

                            <div>
                                <input type="radio" asp-for="Input.userRule" value="Owner" />
                                <label for="Owner"> Owner</label>
                            </div>

                            <div class="mx-4">
                                <input type="radio" asp-for="Input.userRule" value="Contractor" />
                                <label for="Contractor"> Contractor</label>
                            </div>

                        </div>

                        <div class="input-group mb-3">
                            @*<label asp-for="Input.Email"></label>*@
                            <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>

                        </div>

                        <div class="input-group mb-3">
                            @*<label asp-for="Input.Password"></label>*@
                            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>


                        </div>
                        <div class="input-group mb-3">
                            @*<label asp-for="Input.ConfirmPassword"></label>*@
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm password">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                    <label for="agreeTerms">
                                        I agree to the <a href="#">terms</a>
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>


                    <div class="social-auth-links text-center">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i>
                            Sign up using Facebook
                        </a>
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google-plus mr-2"></i>
                            Sign up using Google+
                        </a>
                    </div>

                    <a asp-page="./Login" class="text-center">I already have a membership</a>
                </div>
                <!-- /.form-box -->
            </div><!-- /.card -->
        </div>
        <!-- /.register-box -->

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }

    
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>


</body>

