@page
@model Psoft.Pages.HomeModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <!--

    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="~/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link href="~/assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="~/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="~/assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="~/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="~/assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="~/assets/css/colors/default.css" rel="stylesheet">
</head>




<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>

        <!-- Nav Bar -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="~/imgs/logo.png" style="width: 40px; margin-top: 3px " /> </a>
                <a class="navbar-brand text-center" href="#" style="text-align: center; padding-top: 33px; font-weight: bolder"> PSOFT</a>

                <div class="collapse navbar-collapse" id="custom-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        @*<li class=""><a class="" asp-page="/Dashboard" style=" padding-top:25px;">Home</a></li>*@

                        <!--Register and LogIn icons -->
                        <li class="">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        <!-- =============================================================================== -->


        <div class="main">

            <!-- ----------------------------------------------------------------------------------------SLIDER------------------------------------------------------------ -->
            <section class="module bg-dark-60 about-page-header" style="        background-image: url(https://image.freepik.com/free-photo/construction-site_53876-23129.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h1 class="module-title font-alt" style="color:black; font-weight: bolder;">SMART CONSTRUCTION MANAGEMENT</h1>
                            @*<div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>*@
                        </div>
                    </div>
                </div>
            </section>

            <!-- ================================================================================================================================================================== -->
            <!-- ========================================================================================ABOUT US======================================================================== -->
            <section class="module pt-0 pb-0" id="about">
                <div class="row position-relative m-0">
                    <div class="col-xs-12 col-md-6 side-image"><img src="~/imgs/logo.png" /></div>
                    <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="module-title font-alt align-left" style="font-weight:bolder">ABOUT US</h1>
                                <div class="module-subtitle font-serif align-left">Online Planning, Scheduling and Cost Management System</div>
                                <h5>P-Soft is an integrated solution that serve the Construction sector and its Different parties as it aims to create, manage, control, follow up the schedule in the different project phases, besides, it provides construction cost management as an online web-based service – so it can be used whenever you need them, regardless of location nor device..</h5>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- =========================================================================================================================================================================== -->
            <!-- ========================================================================================Video======================================================================== -->
            <section class="module bg-dark-60" data-background="assets/images/PSOFT.jpg">
                <div class="container">
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-12">
                            <div class="video-box">
                                <div class="video-box-icon" style="text-align: center;">
                                    <video style="padding: 0px 0px 0px 0px;" controls>
                                        <source src="~/imgs/PSOFT%20%e2%80%90%20Made%20with%20Clipchamp%20(1).mp4" type="video/mp4">
                                    </video>
                                </div>
                                <div class="video-title font-alt">Presentation</div>
                                <div class="video-subtitle font-alt">Watch the video about our products</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ======================================================================================================================================================================================= -->
            <!-- ========================================================================================TEAM======================================================================== -->
            <section class="module" id="team">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">Meet PSOFT Team</h2>
                            <!-- <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wowfadeInUp">
                            <div class="team-item">
                                <div class="team-image">
                                    <img src="~/assets/images/me.jpg" alt="Member Photo" class="img-thumbnail" style="width:250px;height:260px" />
                                    <div class="team-detail">
                                        <h5 class="font-alt">Hi all</h5>
                                        <p class="font-serif">Happy to help you, a&amp;nbsp;iaculis diam.</p>
                                        <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                                    </div>
                                </div>
                                <div class="team-descr font-alt">
                                    <div class="team-name">Mohamed Raafat</div>
                                    <div class="team-role">Software Developer</div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wowfadeInUp">
                            <div class="team-item">
                                <div class="team-image">
                                    <img src="~/imgs/ayman.jpg" alt="Member Photo" class="img-thumbnail" style="width:220px;height:260px" />
                                    <div class="team-detail">
                                        <h5 class="font-alt">Good day</h5>
                                        <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                                        <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                                    </div>
                                </div>

                                <div class="team-descr font-alt">
                                    <div class="team-name">Ayman Ali</div>
                                    <div class="team-role">architectural</div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wowfadeInUp">
                            <div class="team-item">
                                <div class="team-image">
                                    <img src="~/imgs/MernaEmara .jpg" alt="Member Photo" class="img-thumbnail" style="width:270px;height:260px" />
                                    <div class="team-detail">
                                        <h5 class="font-alt">Hello</h5>
                                        <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                                        <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                                    </div>
                                </div>
                                <div class="team-descr font-alt">
                                    <div class="team-name">Merna Emara</div>
                                    <div class="team-role">Msc Construction and Real State Management</div>
                                </div>
                            </div>

                        </div>
                        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wowfadeInUp">
                            <div class="team-item">
                                <div class="team-image">
                                    <img src="~/imgs/1.jpg" alt="Member Photo" class="img-thumbnail" style="width:220px;height:260px" />
                                    <div class="team-detail">
                                        <h5 class="font-alt">Yes, it's me</h5>
                                        <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                                        <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                                    </div>
                                </div>
                                <div class="team-descr font-alt">
                                    <div class="team-name">Ahmed Gameel </div>
                                    <div class="team-role">Bim Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- ========================================================================================FOOOTER======================================================================== -->

            <hr class="divider-d">
            <footer class="footer bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="copyright font-alt">&copy; 2021&nbsp;<a href="#">PSOFT</a>, All Rights Reserved</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="footer-social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--
    JavaScripts
    =============================================
    -->
    <script src="~/assets/lib/jquery/dist/jquery.js"></script>
    <script src="~/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/lib/wow/dist/wow.js"></script>
    <script src="~/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="~/assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="~/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="~/assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="~/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="~/assets/lib/smoothscroll.js"></script>
    <script src="~/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="~/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>